pre {
    white-space: pre !important;
    word-wrap: normal !important;
    overflow: auto !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    border-radius: 3px !important;
    font-size: 14px !important;
    margin-bottom: 0 !important;
    padding: 10px 20px !important;
}
pre {
    display: block !important;
    font-size: 87.5% !important;
    color: #212529 !important;
}
pre {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
    overflow: auto !important;
}
pre, code, kbd, samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    font-size: 1em !important;
}
.jumbotron {
    margin-top: -25px !important;
}
.space {
    margin-top: 300px;
!important;
}

.topic-sysadmin {
    text-align: center;
}
